@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

@if (Model != null)
{
    <p>
        Парфюмы:
        @foreach (var i in Model.Items)
        {
            @i.Name<span> </span> @i.Model<span>, </span><br />
        }
        
        @Model.TotalPrice
    </p>
}

<form action="/Order/CreateOrder" method="post" enctype="multipart/form-data">
    <input type="hidden" name="order.TotalPrice" value="@Model.TotalPrice">
    <input type="hidden" name="order.CartId" value="@Model.Id">
    <br />

    <button type="submit" id="addToCart" class="btn btn-success">Добавить в корзину</button>
</form>